click==8.2.1
mkdocs
mkdocs-changelog-plugin
mkdocs-get-deps
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-material
mkdocs-material-extensions
mkdocs-statistics-plugin
mkdocs-pymdownx-material-extras
mkdocs-simple-hooks